<configuration>
	<packageSources>
		<add key="GodcNexus" value="https://nexus.dev.cloudapps.claro.com.do/repository/godc-nuget-hosted/" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	</packageSources>
	<packageSourceCredentials>
    <GodcNexus>
        <add key="Username" value="aier" />
        <add key="ClearTextPassword" value="Ch@ng3Me@2019" />
    </GodcNexus>
</packageSourceCredentials>
</configuration>
